@media (min-width: 768px) {
    header {
        justify-content: start;
        gap: 1rem;
    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex !important;
        justify-content: center;
        background-color: var(--accent-color);
    }

    nav ul li a {
        border: none;
        padding: 1rem 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        max-width: 1200px;
        margin: auto;
    }

    section {
        grid-column: span 2;
    }

    .course-filters {
        justify-content: center;
    }
}